body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.custom-range {
    height: 10px;
    background-color: #dee2e6;
    border-radius: 5px;
}

#colorDisplay {
    background-color: #000000;
    border: 2px solid #dee2e6;
    transition: background-color 0.3s;
}

input[type="number"] {
    margin-top: 10px;
}

h2 {
    font-size: 1.75rem;
}

.badge-secondary {
    background-color: #6c757d;
    font-size: 1.25rem;
}
